@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

* {
    box-sizing: border-box;
    transition: 1s;
}

h1,
h2,
p {
    color: hsl(0, 0%, 100%);
    width: fit-content;
}

p {
    font-size: 0.8em;
}

figcaption>p {
    font-size: 0.6em;
    margin: 2px;
    margin-bottom: 0;
}

figcaption>p:last-child {
    opacity: 50%;
}

h1,
h2 {
    font-size: 15px;
}

body {
    margin: 0;
    background-color: hsl(210, 46%, 95%);
}

.container {
    display: grid;
    justify-content: center;
    align-content: center;
    max-width: 100%;
    grid-gap: 15px;
    margin: 10%;
}

.container>div {
    padding: 10px 20px;
}

figure {
    display: flex;
    flex-direction: row;
    margin: 0;
}

figure>img {
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    margin: 0;
}

figcaption {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    padding-top: 5px;
}

.cont1 {
    border: 1px solid hsl(263, 55%, 52%);
    border-radius: 5px;
    background-color: hsl(263, 55%, 52%);
    grid-area: 1/1/5/3;
}

.cont2 {
    border: 1px solid hsl(217, 19%, 35%);
    border-radius: 5px;
    background-color: hsl(217, 19%, 35%);
    grid-area: 1/4/5/3;
}

.cont3 {
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
    grid-area: 1/4/9/5;
}

.cont3>h2 {
    color: hsl(219, 29%, 14%);
}


.cont3>p {
    color: hsl(219, 29%, 14%);
}

.cont3>figure>figcaption>p {
    color: hsl(219, 29%, 14%);
}

.cont4 {
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
    grid-area: 5/1/9/2;
}

.cont4>h2 {
    color: hsl(219, 29%, 14%);
}


.cont4>p {
    color: hsl(219, 29%, 14%);
}

.cont4>figure>figcaption>p {
    color: hsl(219, 29%, 14%);
}

.cont5 {
    border: 1px solid hsl(219, 29%, 14%);
    border-radius: 5px;
    background-color: hsl(219, 29%, 14%);
    grid-area: 5/2/9/4;
}

.attribution {
    font-size: 12px;
    text-align: center;
    margin-bottom: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}